<?xml version="1.0"?>
<launch>

<arg name="robot_name" default="kuka" />
<arg name="use_ros_control" default="True" />
<arg name="motors_controller_type" default="EffortJointInterface" />

<!-- Load robot description to parameter server -->
<param name="robot_description" textfile="$(find braccio_description)/urdf/braccio_model.urdf" />

</launch>
